# LLM 模型配置
# MODEL_KEY=your_api_key
# MODEL_MODEL=your_model_name
# MODEL_URL=https://your-api-endpoint.com/v1

MODEL_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL_MODEL=qwen3.8-max-0902
MODEL_URL=https://llm-z8jfxbgbmdlhst2h.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
